<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit rating</title>
  {{ bootstrap.load_css() }}
</head>
<body>
  <div class="container">
      <div class="row">
        <div class="col-4">
          <form action="{{ url_for('edit', _id=_id) }}" method="POST" novalidate>
            {{ form.csrf_token }}

            <div class="mb-3">
            {{ form.rating.label(class_="form-label fw-bold") }}
            <div>
              {{ form.rating }}
            </div>
            </div>

            {{ form.submit }}
          </form>
        </div>
      </div>
    </div>

  {{ bootstrap.load_js() }}
</body>
</html>